
body {
    margin: 40px;
    background-color: white;
}

#poster {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr [last];
}

.box {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#active_mode_title {
    color: white;
}

.header {
    background-color: rgb(66, 202, 39);
    text-align: center;
    grid-column: 1/ last;
}

.footer {
    background-color: rgb(150, 243, 141);
    text-align: center;
    grid-column: 1/ last;
}

.zen {
    background-image: url(image-zen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.party {
    background-image: url(image-party.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.party-hard {
    background-image: url(image-partyhard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.focus {
    background-image: url(image-focus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.relax {
    background-image: url(image-relax.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.initial {
    background-image: url(image-initial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.size {
    min-height: 500px;
}

